h1 {
  text-align: center;
  font-family: Georgia;
  color: blue;
}

h2 {
  text-align: center;
  font-family: Georgia;
  color: blue;
}

h3 {
  text-align: center;
  font-family: Georgia;
  color: blue;
}

p {
  text-align: center;
  font-family: Helvetica;
}

img{
  align-items: center;
}
